{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<main class="container mx-auto p-6">
		<section>
			<div id="react-hero"></div>
		</section>
		<section>
			<h2 class="text-2xl font-bold mb-4">Nos Services</h2>
			<div id="react-column"></div>
		</section>
	</main>
{% endblock %}
